<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Accident</h1>
  <br>
  <%= link_to "Home", root_path, :class => "btn btn-success" %>
  <br>
  <br>
  <% @accidents.each do |accident| %>
    <div class="item-details">
      <div class="item-description">
        <%= accident.time %>
      </div>
      <div class="item-description">
        <%= accident.accident_type %>
      </div>
      <div class="item-description">
        <%= get_car_info(accident.car_id) %>
      </div>
      <div class="action-items">
        <div>
          <%= link_to "Edit", edit_accident_path(accident), :class => "btn btn-success"%>
        </div>
        <div>
          <%= button_to "Delete", accident, :class => "btn btn-success", :method => :delete, data: { confirm: 'Are you sure?' }  %>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to 'New Accident', new_accident_path, :class => "btn btn-success" %>
</div>
