<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @accident.time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @accident.accident_type %>
</p>

<p>
  <strong>Car Id:</strong>
  <%= @accident.car_id %>
</p>

<%= link_to 'Edit', edit_accident_path(@accident) %> |
<%= link_to 'Back', accidents_path %>
