<p id="notice"><%= notice %></p>
  <div class="container">

    <title>Cars</title>
    <br>
    <%= link_to "Back",  :back, :class => "btn btn-success" %>
    <br>
      <div id="products" class="row list-group">
        <% @cars.each do |car| %>
          <div class="item-details">
            <div class="photo-image">
                <img class="group list-group-image">
                  <%= render get_photos(car.photo_id) %>
                </img>
            </div>
            <div class="item-description">
                <h4 class="group inner list-group-item-heading">
                    Car <% car.id.to_s %> </h4>
                <p class="group inner list-group-item-text">
                  <%= car.year.to_s + " " + car.car_type + " " + car.model + " " + car.color %></p>
             </div>
            <div class="action-items">
              <div>
                <%= link_to "Edit", edit_car_path(car), :class => "btn btn-success"%>
              </div>
              <div>
                <%= button_to "Delete", car, :class => "btn btn-success", :method => :delete, data: { confirm: 'Are you sure?' }  %>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <br>
      <%= link_to 'New Car', new_car_path, :class => "btn btn-success" %>
  </div>
</div>
